<!doctype html>

<html>

<head>
  <title>Hungry Husky</title>
  <link rel="stylesheet" href="../static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap" rel="stylesheet">
</head>

<body>
  <h1 class="title">Hungry Husky</h1>
  <div class="content">
    <nav>
      <div class="tab"><a href="index-stwest.html">Stetson West</a></div>
      <div class="tab active"><a href="index-steast.html">Stetson East</a></div>
      <div class="tab"><a href="index-iv.html">International Village</a></div>
    </nav>
    <div class="menu-and-hours">
      <div class="hours">
        <h3>Hours:</h3>
        <div class="hours-section">
          <h4>Sun</h4>
          <p>8:00AM-<br>10:00PM</p>
        </div>
        <div class="hours-section">
          <h4>Mon</h4>
          <p>7:00AM-<br>11:00PM</p>
        </div>
        <div class="hours-section">
          <h4>Tue</h4>
          <p>7:00AM-<br>11:00PM</p>
        </div>
        <div class="hours-section">
          <h4>Wed</h4>
          <p>7:00AM-<br>11:00PM</p>
        </div>
        <div class="hours-section">
          <h4>Thu</h4>
          <p>8:00AM-<br>9:00PM</p>
        </div>
        <div class="hours-section">
          <h4>Fri</h4>
          <p>7:00AM-<br>10:00PM</p>
        </div>
        <div class="hours-section">
          <h4>Sat</h4>
          <p>8:00AM-<br>10:00PM</p>
        </div>
      </div>
      <div class="sidebar-and-menu">
        <div class="sidebar">
          <ul>
            <li>Comfort/Homestyle</li>
            <li>Char Broil</li>
            <li>Trattoria</li>
            <li>Pizza</li>
            <li>Plant Based</li>
            <li>Soup</li>
            <li>Deli</li>
            <li>Avoiding Gluten</li>
            <li>Garden Fresh</li>
          </ul>
        </div>
        <div class="menu-items">
          <ul class="menu-items-ul">
            <ul>
              <h3>Comfort/Homestyle</h3>
              <li>Harissa Crusied Chicken</li>
              <li>Lemon Couscous</li>
              <li>Green Beans</li>
            </ul>
            <ul>
              <h3>Trattoria</h3>
              <li>Mushroom Stroganoff</li>
              <li>Herbed Brown Rice</li>
              <li>Green Salad</li>
            </ul>
            <ul>
              <h3>Pizza</h3>
              <li>Meat Lover's Pizza</li>
              <li>Chicken Parmesan Calzone</li>
              <li>Hawaiian Pizza</li>
              <li>Grated Parmesan Cheese</li>
              <li>Crushed Red Pepper</li>
              <li>Dried Oregano</li>
              <li>Slice Garlic Knots</li>
              <li>Marinara Sauce</li>
            </ul>
            <ul>
              <h3>Plant Based</h3>
              <li>Cauliflower Rice Mushroom Risotto</li>
              <li>Zucchini with Cherry Tomatoes</li>
              <li>Chickpeas, Spinach, Sun-Dried Tomato</li>
              <li>Charred Broccoli</li>
              <li>Brown Rice</li>
              <li>Garden Vegetable Soup</li>
            </ul>
            <ul>
              <h3>Soup</h3>
              <li>Chicken Noodle Soup</li>
              <li>Vegetarian Chili</li>
              <li>Green Salad</li>
            </ul>
            <ul>
              <h3>Trattoria</h3>
              <li>Mushroom Stroganoff</li>
              <li>Crackers, Oyster, Zesta, Keebler, 0.5 oz</li>
              <li>Crackers, Saltines, Unsalted, Zesta, 2 Ct</li>
            </ul>
            <ul>
              <h3>Deli</h3>
              <li>FIT Tuna Salad</li>
              <li>Chicken Salad</li>
              <li>Sliced Smoked Ham</li>
              <li>Thinly Sliced Deli Turkey Breast</li>
              <li>Sliced Capicola</li>
              <li>Sliced Genoa Salami</li>
              <li>Sliced Swiss Cheese</li>
              <li>Sliced Sharp Cheddar Cheese</li>
              <li>Sliced American Swiss Cheese</li>
              <li>Sliced Provolone Cheese</li>
              <li>Homemade Potato Chips</li>
              <li>Sliced Tomatoes</li>
              <li>Sliced Red Bell Pepper</li>
              <li>Sliced Red Onion</li>
              <li>Bread & Butter Pickles</li>
              <li>Chopped Romaine Lettuce</li>
              <li>Baby Spinach</li>
              <li>Pesto Mayonnaise</li>
              <li>Mayonnaise</li>
              <li>Chipotle Garlic Ranch</li>
              <li>Honey Mustard Dressing</li>
              <li>Yellow Mustard</li>
              <li>Creamy Caesar Dressing</li>
              <li>Whole Wheat Bread</li>
              <li>12" Garlic Herb Flour Tortilla</li>
              <li>12" Spinach Herb Tortilla</li>
              <li>12" Whole Wheat Flour Tortilla</li>
              <li>12" Tomato Basil Flour Tortilla</li>
              <li>Signature Bread Wheat</li>
              <li>Signature Bread White</li>
              <li>Olive Oil</li>
              <li>Red Wine Vinegar</li>
              <li>Traditional Gyro</li>
            </ul>
            <ul>
              <h3>Avoiding Gluten</h3>
              <li>Citrus Herb Chicken Thighs</li>
              <li>Garlic Mashed Potatoes</li>
              <li>Green Beans with Tomato Sauce</li>
            </ul>
            <ul>
              <h3>Garden Fresh</h3>
              <li>Low Fat Strawberry Yogurt</li>
              <li>Fat Free Plain Greek Yogurt</li>
              <li>Fat Free Plain Yogurt</li>
              <li>Granola</li>
              <li>Blueberries</li>
            </ul>
            <ul>
              <h3>Char Broil</h3>
              <li>Hamburger on Bun</li>
              <li>American Cheese Slice</li>
              <li>Grilled Chicke</li>
              <li>Hot Dog</li>
              <li>Caramelized Onions and Peppers</li>
              <li>cheeseburger on white bun</li>
              <li>3/8" French Fries, Fried</li>
            </ul>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>

</html>