<!doctype html>

<html>

<head>
  <title>Hungry Husky</title>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap" rel="stylesheet">
</head>

<body>
  <h1 class="title">Hungry Husky</h1>
  <div class="content">
    <nav>
      <div class="tab"><a href="index-stwest.html">Stetson West</a></div>
      <div class="tab"><a href="index-steast.html">Stetson East</a></div>
      <div class="tab active"><a href="index-iv.html">International Village</a></div>
    </nav>
    <div class="menu-and-hours">
      <div class="hours">
        <h3>Hours:</h3>
        <div class="hours-section">
          <h4>Sun</h4>
          <p>8:00AM-<br>9:00PM</p>
        </div>
        <div class="hours-section">
          <h4>Mon</h4>
          <p>7:00AM-<br>10:00PM</p>
        </div>
        <div class="hours-section">
          <h4>Tue</h4>
          <p>7:00AM-<br>10:00PM</p>
        </div>
        <div class="hours-section">
          <h4>Wed</h4>
          <p>7:00AM-<br>10:00PM</p>
        </div>
        <div class="hours-section">
          <h4>Thu</h4>
          <p>8:00AM-<br>9:00PM</p>
        </div>
        <div class="hours-section">
          <h4>Fri</h4>
          <p>7:00AM-<br>9:00PM</p>
        </div>
        <div class="hours-section">
          <h4>Sat</h4>
          <p>8:00AM-<br>9:00PM</p>
        </div>
      </div>
      <div class="sidebar-and-menu">
        <div class="sidebar">
          <ul>
            <li>Halal</li>
            <li>Zone 8</li>
            <li>Kosher</li>
            <li>Pizza</li>
            <li>Tandori</li>
            <li>Bakery-Dessert</li>
            <li>Plant Based</li>
            <li>Sushi</li>
            <li>Soup</li>
            <li>Pasta</li>
            <li>Comfort</li>
            <li>Grill</li>
            <li>Burger Toppings</li>
            <li>Salad</li>
            <li>Everyday</li>
          </ul>
        </div>
      <div class="menu-items">
        <ul class="menu-items-ul">
          <ul>
            <h3>Halal</h3>
            <li>Lemon Oregano Grilled Chicken</li>
            <li>Shawarma Spiced PAOW</li>
            <li>Brown Rice</li>
            <li>Shredded Iceberg Lettuce</li>
            <li>Baby Spinach</li>
            <li>Sliced Red Onion</li>
            <li>Black Olives</li>
            <li>Sliced Jalapeno Pepper</li>
            <li>Sliced Cucumber</li>
            <li>Crumbled Feta Cheese</li>
            <li>Sliced Tomatoes</li>
            <li>Corn</li>
            <li>Tabouleh</li>
            <li>White Pita Bread</li>
            <li>Classic Hummus</li>
            <li>Sriracha Tzaziki Sauce</li>
            <li>Tzatziki Sauce</li>
            <li>Lemon Tahini Dressing</li>
            <li>Preserved Lemon Aioli</li>
            <li>Baba Ghanoush</li>
          </ul>
          <ul>
            <h3>Zone 8</h3>
            <li>Tomato Braised Beef</li>
            <li>Baked Potatoes</li>
            <li>Herbed Steamed Brown Rice</li>
            <li>Fresh Steamed Carrots</li>
            <li>Cucumber and Onion Salad</li>
            <li>Brown Rice Salad</li>
          </ul>
          <ul>
            <h3>Pizza</h3>
            <li>Pepperoni Pizza</li>
            <li>Cheese Pizza</li>
            <li>Mush. Rosemary & Sundried Tom. Pizza</li>
            <li>Slice Garlic Knots</li>
          </ul>
          <ul>
            <h3>Tandori</h3>
            <li>Cucumber Raita</li>
            <li>Cilantro Chutney</li>
            <li>Pickled Carrots</li>
            <li>Spinach Sunflower Seed Salad</li>
            <li>Fragrant Lentil Rice</li>
            <li>Lentil and Nut Korma Dal</li>
            <li>Spicy Pork Skewers</li>
          </ul>
          <ul>
            <h3>Bakery-Dessert</h3>
            <li>Sugar Cookies</li>
            <li>Oatmeal Raisin Cookies</li>
            <li>Double Chocolate Chip Cookies</li>
            <li>Chocolate Chip Cookies</li>
            <li>Carnival Cookies</li>
          </ul>
          <ul>
            <h3>Sushi</h3>
            <li>White Rice</li>
            <li>Miso Vegetable Stock</li>
            <li>Udon Noodles</li>
            <li>Sliced Tofu</li>
            <li>Chopped Green Onions</li>
            <li>Sliced Pickled Ginger</li>
            <li>Spicy Mayonnaise</li>
            <li>Avocado Roll</li>
            <li>Surimi Roll</li>
          </ul>
          <ul>
            <h3>Soup</h3>
            <li>Crackers, Saltine, 2 CT, Zesta</li>
            <li>Crackers, Oyster, Zesta, Keebler, 0.5 oz</li>
            <li>Vegan Tomato Basil Soup</li>
            <li>Vegetarian Chili</li>
          </ul>
          <ul>
            <h3>Pasta</h3>
            <li>Tortellini alla Turkey Bolognese</li>
            <li>Cheesy Breadsticks</li>
            <li>Whole Wheat Penne Pasta</li>
            <li>Marinara Sauce</li>
            <li>Beyond Bolognese</li>
          </ul>
          <ul>
            <h3>Comfort</h3>
            <li>Chicken Parmesan</li>
            <li>Vegetable & Rice Pilaf</li>
            <li>Creamy Polenta</li>
            <li>Paprika Roasted Cauliflower</li>
            <li>Parmesan Roasted Carrots</li>
            <li>Sweet Corn with Peppers, Tomatoes, and Onions</li>
            <li>Black Barley Cilantro Tabouleh</li>
          </ul>
          <ul>
            <h3>Grill</h3>
            <li>Veggie Burger</li>
            <li>Italian Meatball Sub</li>
            <li>Turkey Burger (No Bun)</li>
            <li>Cheeseburger</li>
            <li>Seasoned Baked Fries</li>
          </ul>
          <ul>
            <h3>Salad</h3>
            <li>Chopped Romaine Lettuce</li>
            <li>Spring Mix</li>
            <li>Chopped Kale</li>
            <li>Baby Spinach</li>
            <li>Diced Tomatoes</li>
            <li>Sliced Cucumber</li>
            <li>Grated Carrots</li>
            <li>Sliced Green Bell Pepper</li>
            <li>Sliced Red Onion</li>
            <li>Sliced Mushrooms</li>
            <li>Grapefruit Sections</li>
            <li>Dark Red Kidney Beans</li>
            <li>Shredded Red Cabbage</li>
            <li>Sliced Green Olives</li>
            <li>Sliced Pepperoncini Peppers</li>
            <li>Fresh Chopped Celery</li>
            <li>Shredded Cheddar Cheese</li>
            <li>Broccoli Florets</li>
            <li>Hard Boiled Egg</li>
            <li>1% Cottage Cheese</li>
            <li>Shredded Parmesan Cheese</li>
            <li>Blue Cheese Crumbles</li>
            <li>Crumbled Feta Cheese</li>
            <li>Avocado Pulp</li>
            <li>Dried Cranberries</li>
            <li>Raisins</li>
            <li>Golden Raisins</li>
            <li>Roasted Sunflower Seeds</li>
            <li>Croutons</li>
            <li>Italian Dressing</li>
            <li>French Dressing</li>
            <li>Ranch Dressing</li>
            <li>Blue Cheese Dressing</li>
            <li>Balsamic Vinaigrette Dressing</li>
            <li>Creamy Caesar Dressing</li>
            <li>1000 Island Dressing</li>
            <li>Fat Free Raspberry Dressing</li>
            <li>Extra Virgin Olive Oil</li>
            <li>Balsamic Vinegar</li>
          </ul>
        </ul>


      </div>
      </div>
    </div>
  </div>
</body>

</html>