<!doctype html>

<html>

<head>
  <title>Hungry Husky</title>
  <link rel="stylesheet" href="../static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap" rel="stylesheet">
</head>

<body>
  <h1 class="title">Hungry Husky</h1>
  <div class="content">
    <nav>
      <div class="tab"><a href="index-stwest.html">Stetson West</a></div>
      <div class="tab active"><a href="index-steast.html">Stetson East</a></div>
      <div class="tab"><a href="index-iv.html">International Village</a></div>
    </nav>
    <div class="menu-and-hours">
      <div class="hours">
        <h3>Hours:</h3>
        <div class="hours-section">
          <h4>Sun</h4>
          <p>8:00AM-<br>10:00PM</p>
        </div>
        <div class="hours-section">
          <h4>Mon</h4>
          <p>7:00AM-<br>11:00PM</p>
        </div>
        <div class="hours-section">
          <h4>Tue</h4>
          <p>7:00AM-<br>11:00PM</p>
        </div>
        <div class="hours-section">
          <h4>Wed</h4>
          <p>7:00AM-<br>11:00PM</p>
        </div>
        <div class="hours-section">
          <h4>Thu</h4>
          <p>8:00AM-<br>9:00PM</p>
        </div>
        <div class="hours-section">
          <h4>Fri</h4>
          <p>7:00AM-<br>10:00PM</p>
        </div>
        <div class="hours-section">
          <h4>Sat</h4>
          <p>8:00AM-<br>10:00PM</p>
        </div>
      </div>
      <div class="sidebar-and-menu">
        <div class="sidebar">
          <ul>
            <li>Comfort/Homestyle</li>
            <li>Char Broil</li>
            <li>Trattoria</li>
            <li>Pizza</li>
            <li>Plant Based</li>
            <li>Soup</li>
            <li>Deli</li>
            <li>Avoiding Gluten</li>
            <li>Garden Fresh</li>
          </ul>
        </div>
        <div class="menu-items">
          <script>
            fetch("./dining_jsons/steast_dinner.json")
          </script>
          <ul>
            {% for station_name, food_list in food_by_station.items() %}
              <h3>{{ station_name }}</h3>
              <ul>
              {% for food_name in food_list %}
                <li>{{ food_name }}</li>
              {% endfor %}   
              </ul>

            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>

</html>