<!doctype html>

<html>

<head>
  <title> Hungry Husky</title>
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap" rel="stylesheet">
</head>

<body>
  <h1 class="title">Hungry Husky</h1>
  <div class="content">
    <nav>
      <div class="tab active"><a href="index-stwest.html">Stetson West</a></div>
      <div class="tab"><a href="index-steast.html">Stetson East</a></div>
      <div class="tab"><a href="index-iv.html">International Village</a></div>
    </nav>
    <div class="menu-and-hours">
      <div class="hours">
        <h3>Hours:</h3>
        <div class="hours-section">
          <h4>Sun-Wed</h4>
          <p>4:00PM-<br>9:00PM</p>
        </div>
        <div class="hours-section">
          <h4>Thu-Fri</h4>
          <p>4:00PM-<br>8:00PM</p>
        </div>
        <div class="hours-section">
          <h4>Sat</h4>
          <p class="closed">CLOSED</p>
        </div>
      </div>
      <div class="menu">

      </div>
    </div>
  </div>
</body>

</html>