<!doctype html>

<html>

<head>
  <title>Hungry Husky</title>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap" rel="stylesheet">
</head>

<body>
  <h1 class="title">Hungry Husky</h1>
  <div class="content">
    <nav>
      <div class="tab active"><a href="index-stwest.html">Stetson West</a></div>
      <div class="tab"><a href="index-steast.html">Stetson East</a></div>
      <div class="tab"><a href="index-iv.html">International Village</a></div>
    </nav>
    <div class="menu-and-hours">
      <div class="hours">
        <h3>Hours:</h3>
        <div class="hours-section">
          <h4>Sun</h4>
          <p>4:00PM-<br>9:00PM</p>
        </div>
        <div class="hours-section">
          <h4>Mon</h4>
          <p>4:00PM-<br>9:00PM</p>
        </div>
        <div class="hours-section">
          <h4>Tue</h4>
          <p>4:00PM-<br>9:00PM</p>
        </div>
        <div class="hours-section">
          <h4>Wed</h4>
          <p>4:00PM-<br>9:00PM</p>
        </div>
        <div class="hours-section">
          <h4>Thu</h4>
          <p>4:00PM-<br>8:00PM</p>
        </div>
        <div class="hours-section">
          <h4>Fri</h4>
          <p>4:00PM-<br>8:00PM</p>
        </div>
        <div class="hours-section">
          <h4>Sat</h4>
          <p class="closed">CLOSED</p>
        </div>
      </div>
      <div class="sidebar-and-menu">
        <div class="sidebar">
          <ul>
            <li>Salsas & Dips</li>
            <li>Soup & Co</li>
            <li>Homestyle</li>
            <li>500 Degrees</li>
            <li>Bok Choy Express</li>
            <li>Bok Choy Express Fast Lane</li>
          </ul>
        </div>
        <div class="menu-items">
          <ul class="menu-items-ul">
            <ul>
              <h3>Salsas & Dips</h3>
              <li>Fresh Tomato Salsa</li>
              <li>Classic Hummus</li>
              <li>Homemade Baked Corn Tortilla Chips</li>
              <li>Crispy Tortilla Strips</li>
              <li>Gala Apple</li>
              <li>Navel Orange</li>
              <li>Banana</li>
            </ul>
            <ul>
              <h3>Soup & Co</h3>
              <li>Chicken Noodle Soup</li>
              <li>Vegetarian Minestrone</li>
              <li>Crackers, Saltines, Unsalted, Zesta, 2 Ct</li>
              <li>Crackers, Oyster, Zesta, Keebler, 0.5 oz</li>
            </ul>
            <ul>
              <h3>Homestyle</h3>
              <li>Cajun Chicken</li>
              <li>Roasted Green Beans</li>
              <li>Spanakopita Loaded Potatoes</li>
            </ul>
            <ul>
              <h3>500 Degrees</h3>
              <li>Cheese Pizza</li>
              <li>Pepperoni Pizza</li>
              <li>Chicken Fajita Pizza</li>
              <li>Buffalo Chicken Calzone</li>
              <li>Garlic Knots</li>
              <li>Crushed Red Pepper</li>
              <li>Grated Parmesan Cheese</li>
              <li>Dried Oregano</li>
            </ul>
            <ul>
              <h3>Bok Choy Express</h3>
              <li>Seasoned Grilled Chicken</li>
              <li>Sliced Top Round Beef</li>
              <li>Cubed Tofu</li>
              <li>Grilled PAOW</li>
              <li>Brown Rice</li>
              <li>Miso Vegetable Stock</li>
              <li>Shredded Carrots</li>
              <li>Chopped Zucchini</li>
              <li>Diced Yellow Squash</li>
              <li>Chopped Yellow Onions</li>
              <li>Sliced Green Bell Pepper</li>
              <li>Sliced Mushrooms</li>
              <li>Broccoli Florets</li>
              <li>Fresh Chopped Celery</li>
              <li>Cubed Tofu</li>
              <li>Snow Peas</li>
              <li>Pineapple Tidbits</li>
              <li>Bamboo Shoots</li>
              <li>Sliced Water Chestnuts</li>
              <li>Teriyaki Sauce</li>
              <li>General Tso's Sauce</li>
              <li>Bourbon Sauce</li>
              <li>Vegan Sweet Chili Stir Fry Sauce</li>
              <li>Szechuan Sauce</li>
            </ul>
            <ul>
              <h3>Bok Choy Express Fast Lane</h3>
              <li>Vegetarian Egg Roll</li>
              <li>Vegetable Potstickers</li>
              <li>Sweet Chili Chicken Wings</li>
              <li>Vegetable Fried Rice</li>
              <li>Ginger Soy Vegetable Stir Fry</li>
              <li>Brown Rice</li>
              <li>Vegan Miso Soup</li>
            </ul>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>

</html>